<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovft.configure.sys.dao.AttackMapper" >

    <insert id="attack" parameterType="com.ovft.configure.sys.bean.AttackDTO">
        <selectKey resultType="java.lang.Integer" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO attack
        (
        open_id,game_id,attack
        )
        VALUES
        (
        #{openId},#{gameId},#{attack}
        )
    </insert>

    <select id="findTotalAttack"  resultType="com.ovft.configure.sys.bean.AttackDTO" parameterType="com.ovft.configure.sys.bean.AttackDTO">
        select open_id as openId,game_id as gameId,sum(attack) as attack from attack where open_id = #{openId} and game_id = #{gameId}
    </select>

    <select id="findLastThree"  resultType="com.ovft.configure.sys.bean.AttackDTO" parameterType="com.ovft.configure.sys.bean.AttackDTO">
        select t.* from (
          select open_id as openId,game_id as gameId,sum(attack) as attack from attack where  game_id = #{gameId} group by open_id
        ) t order by t.attack asc limit 0,3
    </select>

</mapper>