<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovft.configure.sys.dao.DeviceMapper" >

    <select id="selectByOpenId" parameterType="com.ovft.configure.sys.bean.DeviceDTO" resultType="com.ovft.configure.sys.bean.DeviceDTO">
        SELECT id,open_id as openId,device_id as deviceId,(select sum(scores) from device where open_id = #{openId}) as scores ,total_scores as totalScores,game_id as gameId,nick_name as nickName,img_url as imgUrl
        FROM device
        where open_id = #{openId} and game_id = #{gameId} order by id desc limit 1
    </select>

    <select id="selectOrder" parameterType="com.ovft.configure.sys.bean.DeviceDTO" resultType="com.ovft.configure.sys.bean.DeviceDTO">
        SELECT t.id,open_id as openId,t.device_id as deviceId,(select sum(scores) from device where open_id = t.open_id) as scores,t.total_scores as totalScores,t.game_id as gameId,t.nick_name as nickName,t.img_url as imgUrl
        FROM device t
        where  t.game_id = #{gameId} order by t.total_scores DESC
    </select>

    <select id="selectTimeOrder" parameterType="com.ovft.configure.sys.bean.DeviceDTO" resultType="com.ovft.configure.sys.bean.DeviceDTO">
        SELECT t.id,t.open_id as openId,t.device_id as deviceId,(select sum(scores) from device where open_id = t.open_id) as scores,t.total_scores as totalScores,t.game_id as gameId,t.nick_name as nickName,t.img_url as imgUrl,DATE_FORMAT(t.create_time,   '%Y-%m-%d %H:%i:%S') as createTime
        FROM device t
        where  t.game_id = #{gameId} order by t.create_time asc
    </select>


    <insert id="save" parameterType="com.ovft.configure.sys.bean.DeviceDTO">
        <selectKey resultType="java.lang.Integer" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO device
        (
        open_id,device_id,scores,total_scores,game_id,nick_name,img_url,create_time,update_time
        )
        VALUES
        (
        #{openId},#{deviceId},0,0,#{gameId},#{nickName},#{imgUrl},now(),now()
        )
    </insert>

    <update id="update" parameterType="com.ovft.configure.sys.bean.DeviceDTO" flushCache="true">
        UPDATE
        device
        SET
        device_id=#{deviceId}
        WHERE open_id = #{openId} and game_id=#{gameId}
    </update>

    <update id="addScore" parameterType="com.ovft.configure.sys.bean.DeviceDTO" flushCache="true">
        UPDATE
        device
        SET
        total_scores = total_scores+#{scores},
        scores=scores+#{scores}
        WHERE open_id = #{openId} and game_id = #{gameId}
    </update>

    <update id="reduce" parameterType="com.ovft.configure.sys.bean.DeviceDTO" flushCache="true">
        UPDATE
        device
        SET
        scores=scores+#{scores}
        WHERE open_id = #{openId} and game_id = #{gameId}
    </update>

    <update id="addDestroyScore" parameterType="com.ovft.configure.sys.bean.DeviceDTO" flushCache="true">
        UPDATE
        device
        SET
        scores=scores+#{scores}
        WHERE open_id = #{openId} and game_id = #{gameId}
    </update>

    <update id="addBossDestroyScore" parameterType="com.ovft.configure.sys.bean.DeviceDTO" flushCache="true">
        UPDATE
        device
        SET
        total_scores=total_scores+#{scores}
        WHERE open_id = #{openId} and game_id = #{gameId}
    </update>

    <select id="checkDevice" parameterType="com.ovft.configure.sys.bean.DeviceDTO" resultType="java.lang.Integer">
        SELECT count(id)
        FROM device
        where open_id = #{openId} and device_id = #{deviceId} and game_id = #{gameId}
    </select>

    <select id="selectRealDevice" parameterType="com.ovft.configure.sys.bean.DeviceDTO" resultType="com.ovft.configure.sys.bean.DeviceDTO">
        SELECT minor as deviceId
        FROM minor
        where  no =#{deviceId} limit 1
    </select>

    <select id="selectShowDevice" parameterType="com.ovft.configure.sys.bean.DeviceDTO" resultType="com.ovft.configure.sys.bean.DeviceDTO">
        SELECT no as deviceId
        FROM minor
        where  minor =#{deviceId} limit 1
    </select>
</mapper>