<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovft.configure.sys.dao.GameMapper" >

    <select id="findNewGame" resultType="com.ovft.configure.sys.bean.GameDTO">
        select * from game where status = 0 limit 1;
    </select>

    <select id="findLastGame" resultType="com.ovft.configure.sys.bean.GameDTO">
        select * from game order by id desc limit 1;
    </select>


    <insert id="save" parameterType="com.ovft.configure.sys.bean.GameDTO">
        <selectKey resultType="java.lang.Integer" keyProperty="id"
                   order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO game
        (
           game_id,status,start_time
        )
        VALUES
        (
          #{gameId},0,now()
        )
    </insert>

    <update id="update" parameterType="com.ovft.configure.sys.bean.GameDTO" flushCache="true">
        UPDATE
        game
        SET
        status =1
    </update>
</mapper>