<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovft.configure.sys.dao.TaskMapper" >

    <select id="findByTask" parameterType="com.ovft.configure.sys.bean.TaskDTO" resultType="com.ovft.configure.sys.bean.TaskDTO">
        select m.id,m.open_id,t.task_num,t.scores
        from (select * from myTask where open_id = #{openId}) m RIGHT JOIN task t on m.task_id=t.id
    </select>


</mapper>